.christmas-cong {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    box-shadow: 0 4px 15px 0 rgba(black, 0.15);
    border-radius: 10px;
    padding: 20px 15px;
    align-items: center;
    img {
        max-width: 220px;
    }
    &__close {
        cursor: pointer;
        position: absolute;
        right: 15px;
        border: none;
        background: none;
        font-size: 32px;
        color: $grey-text;
        &:hover {
            color: $blue-text;
        }
    }
}

.auctions-teaser-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.auction-teaser-small {
    border-radius: 15px;
    box-shadow: 0 4px 15px 0 rgba(black, 0.15);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-decoration: none;
    color: black;
    background: white;
    transition: all 0.3s;
    &__image {
        display: block;
        overflow: hidden;
        border-radius: 15px;
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.03);
            box-shadow: 0 4px 25px 0 rgba(black, 0.25);
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 24px;
    }
    &__state {
        color: $grey-text;
        font-size: 10px;
        border-radius: 15px;
        padding: 3px 8px;
        border: 1px $grey-line solid;
        text-transform: uppercase;
        font-weight: 500;
    }
    &__name {
        font-size: 20px;
        font-family: $america;
        text-wrap: balance;
        max-width: 300px;
    }
    &__props {
        font-family: $america;
        font-size: 15px;
        font-weight: 500;
    }
}
.auction-teaser-hero {
    grid-column: 2 span;
    border-radius: 15px;
    box-shadow: 0 4px 15px 0 rgba(black, 0.15);
    position: relative;
    min-width: 0px;
    transition: all 0.3s;
    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.03);
            box-shadow: 0 4px 25px 0 rgba(black, 0.25);
        }
    }
    .hero-swiper {
        display: block;
    }
    &__info {
        padding: 16px 24px;
        display: flex;
        align-items: center;
        gap: 3%;
    }
    &__image {
        display: block;
        overflow: hidden;
        border-radius: 15px;
        img {
            width: 100%;
            vertical-align: middle;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            img {
                transform: scale(1.1) rotate(1deg);
            }
        }
    }
    &__state {
        position: absolute;
        left: 24px;
        top: 24px;
        background: #fff;
        color: $green-text;
        font-size: 10px;
        border-radius: 15px;
        padding: 3px 8px;
        border: 1px $green-text solid;
        text-transform: uppercase;
        font-weight: 500;
    }
    b {
        font-family: $america;
        text-transform: uppercase;
        display: block;
    }
    span {
        font-family: $america;
        color: $grey-text;
    }
    &__time {
        margin-left: auto;
        text-align: center;
        span {
            font-weight: 500;
            letter-spacing: 2px;
        }
    }
}
.serivices-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include scrollbars(0px, white, white);
}
.serivices-list-item {
    border-radius: 15px;
    box-shadow: 0 4px 15px 0 rgba(black, 0.15);
    text-decoration: none;
    color: black;
    transition: all 0.3s;
    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.03);
            box-shadow: 0 4px 25px 0 rgba(black, 0.25);
        }
    }
    &__image {
        img {
            width: 100%;
        }
    }
    &__info {
        padding: 16px 24px;
        span {
            color: $grey-text;
            font-size: 14px;
        }
    }
    &__name {
        font-size: 18px;
        font-family: $america;
        display: block;
    }
    &__image {
        overflow: hidden;
        border-radius: 15px;
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}
.main-carusel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.main-carusel-item {
    --swiper-navigation-size: 14px;
    --swiper-theme-color: #9d9d9d;
    position: relative;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 15px 0 rgba(black, 0.15);
    transition: all 0.3s;
    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.03);
            box-shadow: 0 4px 25px 0 rgba(black, 0.25);
        }
    }
    &__slide {
        color: black;
        text-decoration: none;
        background: #fff;
        border-radius: 15px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: auto;
        bottom: 20px;
        left: auto;
        padding: 10px;
    }
    .swiper-button-next {
        right: 20px;
    }
    .swiper-button-prev {
        right: 50px;
    }
}
.main-carusel-product {
    min-height: 280px;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 190px 1fr;
    align-items: center;
    &__image {
        img {
            vertical-align: middle;
            width: 100%;
            border-radius: 15px;
        }
    }
    &__info {
        max-width: 360px;
        padding: 0 30px;
        margin: 0 auto;
    }
    &__state {
        display: inline-block;
        color: $grey-text;
        font-size: 10px;
        border-radius: 15px;
        padding: 3px 8px;
        border: 1px $grey-line solid;
        text-transform: uppercase;
        font-weight: 500;
    }
    &__text {
        margin: 15px 0;
        font-size: 14px;
    }
    &__price {
        font-family: $america;
    }
}
.main-carusel-review {
    padding: 0 60px;
    min-height: 280px;
    flex: 1 1 auto;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
        content: '“';
        font-family: serif;
        font-weight: bold;
        font-size: 60px;
        position: absolute;
        left: 30px;
        top: 10px;
    }
    &__logo {
        position: absolute;
        left: 30px;
        bottom: 30px;
        max-width: 100px;
        pointer-events: none;
        z-index: -1;
    }
    &__text {
        max-width: 450px;
        font-size: 24px;
        font-weight: 100;
        line-height: 1;
        line-height: 25px;
        max-height: 100px;
        overflow: hidden;
        font-family: $america;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            display: block;
            bottom: 0px;
            left: 0px;
            width: 100%;
            box-shadow: 0 0 30px 35px white;
        }
    }
}
.ineichen-anniversary {
    display: flex;
    position: relative;
    &__statistic {
        display: flex;
        gap: 30px;
        div {
            display: flex;
            gap: 10px;
            color: $grey-text;
        }
        strong {
            color: black;
            font-family: $america;
        }
    }
    &__icon {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
}

.title:has(.est) {
    padding-right: 250px;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 820px) {
    .auctions-teaser-grid {
        grid-template-columns: 1fr;
    }
    .auction-teaser-hero {
        grid-column: 1/1;
        &__info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
        &__time {
            margin-left: 0;
            text-align: left;
        }
        &__image {
            img {
                height: 50vw;
                object-fit: cover;
            }
        }
    }
    .serivices-list {
        padding: 0 30px;
        margin: 0 -30px -15px;
        overflow-x: auto;
    }
    .serivices-list-item {
        width: 80vw;
        margin-bottom: 15px;
    }
    .ineichen-anniversary {
        justify-content: space-between;
        &__statistic {
            gap: 10px;
            flex-direction: column;
        }
        &__icon {
            position: static;
        }
    }
    .main-carusel-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .main-carusel-item {
        box-shadow: none;
        gap: 30px;
        overflow-x: auto;
        margin: -5px -30px -15px;
        padding: 0 30px;
        max-width: none;
        @include scrollbars(0px, white, white);
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
        &__slide {
            width: 80vw;
            border-radius: 15px;
            box-shadow: 0 4px 15px 0 rgba(black, 0.15);
            margin-bottom: 15px;
            margin-top: 5px;
        }
        .swiper-wrapper {
            height: auto;
            gap: 30px;
        }
    }
}
@media screen and (max-width: 520px) {
    .christmas-cong {
        grid-template-columns: 1fr;
        justify-items: center;
        &__close {
            top: 15px;
            right: 15px;
        }
    }
    .auction-teaser-hero {
        &__info {
            grid-template-columns: 1fr 1fr;
            gap: 15px;
            padding: 15px;
        }
        &__state {
            grid-column: 2 span;
            position: static;
            margin-right: auto;
        }
        &__name {
            grid-column: 2 span;
        }
        .c-button {
            grid-column: 2 span;
        }

        &__date {
            grid-column: 1 / 1;
        }
        &__time {
            grid-column: 2 / 2;
            margin-left: 0;
            text-align: left;
        }
    }
    .auction-teaser-small {
        gap: 15px;
        &__info {
            padding: 15px 0 15px 15px;
        }
        &__name {
            font-size: 15px;
            br {
                display: none;
            }
        }
        &__props {
            font-size: 12px;
        }
    }
    .serivices-list {
        padding: 0 15px;
        margin: 0 -15px -15px;
        gap: 15px;
    }
    .serivices-list-item {
        &__info {
            padding: 15px;
            span {
                font-size: 12px;
            }
        }
        &__name {
            font-size: 15px;
        }
    }
    .ineichen-anniversary {
        flex-direction: row-reverse;
        &__statistic {
            gap: 5px;
            div {
                justify-content: flex-end;
            }
        }
        &__icon {
            position: static;
            img {
                max-width: 200px;
            }
        }
    }
    .title:has(.est) {
        padding-right: 0px;
    }
    .main-carusel-grid {
        gap: 15px;
    }
    .main-carusel-item {
        gap: 15px;
        margin: -5px -15px -15px;
        padding: 0 15px;
        .swiper-wrapper {
            gap: 15px;
        }
    }
    .main-carusel-product {
        min-height: 150px;
        padding: 0;
        grid-template-columns: 120px 1fr;
        gap: 5px;
        &__state {
            font-size: 9px;
        }
        &__info {
            width: 100%;
            padding: 10px;
        }
        &__text {
            font-size: 13px;
            line-height: 15px;
            height: 30vh;
            max-height: 60px;
            overflow: hidden;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                display: block;
                bottom: 0px;
                left: 0px;
                width: 100%;
                box-shadow: 0 0 20px 20px white;
            }
        }
    }
    .main-carusel-review {
        min-height: 180px;
        padding: 10px 30px;
        &:before {
            font-size: 32px;
            left: 15px;
            top: 10px;
            z-index: 1;
        }
        &__logo {
            left: auto;
            right: 15px;
            bottom: 15px;
            max-width: 80px;
            z-index: 1;
        }
        &__text {
            font-size: 17px;
            line-height: 20px;
            max-height: 80px;
            &:after {
                box-shadow: 0 0 25px 25px white;
            }
        }
    }
}
