.container {
    padding: 0 150px;
}
.loading {
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        border: 3px $blue-bg solid;
        border-left-color: transparent;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-top: -20px;
        animation: 0.5s Spin infinite linear;
        border-radius: 50%;
    }
}
.question-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
}
.c-alert {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 8px 15px;
    border-radius: 14px;
    font-size: 15px;
    line-height: 20px;
    gap: 10px;
    &_red {
        border: 1px $alert-red solid;
        color: $alert-red
    }
    &_blue {
        border: 1px $blue-text solid;
        color: $blue-text
    }
    &_grey {
        border: 1px $grey-text solid;
        color: $grey-text
    }
    &_brown {
        border: 1px $brown-text solid;
        color: $brown-text
    }
    &_salad {
        border: 1px $alert-salad solid;
        color: $alert-salad
    }
    &_orange {
        border: 1px $alert-orange solid;
        color: $alert-orange
    }
    &_green {
        border: 1px $alert-green solid;
        color: $alert-green
    }
    .mdi {
        font-size: 20px;
        line-height: 20px;
    }
}
.c-button {
    $root: &;
    font-family: $inter;
    border: none;
    background: none;
    border: none;
    height: 45px;
    border-radius: 15px;
    padding: 0 24px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: black;
    cursor: pointer;
    transition: 0.2s all;
    .flag-icon {
        margin-right: 10px;
    }
    .mdi {
        font-size: 18px;
    }
    .mdi-chevron-down {
        margin-left: auto;
        padding-left: 15px;
    }
    &_america {
        font-family: $america;
        text-transform: uppercase;
    }
    &_pulse:not(:active) {
        animation: pulse 2s infinite;
    }
    &_full {
        width: 100%;
    }
    &_space-between {
        justify-content: space-between;
    }
    /* ---------------------------------- colors --------------------------------- */
    &_clear {
        color: $blue-bg;
        padding: 0;
        &:hover {
            opacity: 0.6;
        }
    }
    &_blue {
        color: $blue-bg;
        border: 2px $blue-bg solid;
        &:hover {
            background: $blue-bg;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $blue-bg;
            &:hover {
                background: lighten($blue-bg,20);
                border-color: lighten($blue-bg,20);
            }
        }
    }
    &_black {
        color: black;
        border: 2px black solid;
        &:hover {
            background: black;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: black;
            &:hover {
                background: white;
                color: black;
            }
        }
    }
    &_white {
        color: #fff;
        border: 2px #fff solid;
        &:hover {
            background: #fff;
            color: $blue-bg;
        }
        &#{$root}_filled {
            color: #000;
            background: #fff;
            &:hover {
                background: $brown-bg;
                border-color: $brown-bg;
            }
        }
    }
    &_grey {
        color: black;
        border: 1px $grey-btn solid;
        background: white;
        &:hover {
            border-color: $brown-bg;
            color: $brown-text;
        }
        &#{$root}_filled {
            color: #fff;
            background: $grey-btn;
            &:hover {
                background: darken($grey-btn,5);
                border-color: darken($grey-btn,5);
            }
        }
        &#{$root}_active {
            border-color: $brown-bg;
            color: $brown-text;
        }
    }
    &_dark-grey {
        color: #fff;
        border: 1px $dark-grey solid;
        &:hover {
            background: $dark-grey;
        }
        &#{$root}_filled {
            color: #fff;
            background: $dark-grey;
            &:hover {
                background: lighten($dark-grey,15);
                border-color: lighten($dark-grey,15);
            }
        }
    }
    &_milk-white {
        color: #fff;
        border: 1px $milk-white solid;
        &:hover {
            background: $milk-white;
        }
        &#{$root}_filled {
            color: #000;
            background: $milk-white;
            &:hover {
                background: darken($milk-white,15);
                border-color: darken($milk-white,15);
            }
        }
    }
    &_green {
        color: $green-bg;
        border: 2px $green-bg solid;
        &:hover {
            background: $green-bg;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $green-bg;
            &:hover {
                background: darken($green-bg,5);
                border-color: darken($green-bg,5);
            }
        }
    }
    &_pink {
        color: $pink-text;
        border: 2px $pink-text solid;
        &:hover {
            background: $pink-text;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $pink-text;
            &:hover {
                background: darken($pink-text,5);
                border-color: darken($pink-text,5);
            }
        }
    }
    &_violet {
        color: $violet;
        border: 2px $violet solid;
        &:hover {
            background: $violet;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $violet;
            &:hover {
                background: darken($violet,5);
                border-color: darken($violet,5);
            }
        }
    }
    &_brown {
        color: $brown-text;
        border: 2px $brown-text solid;
        &:hover {
            background: $brown-text;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $brown-text;
            &:hover {
                background: darken($brown-text,5);
                border-color: darken($brown-text,5);
            }
        }
    }
    &_dark-brown {
        color: $dark-brown-bg;
        border: 2px $dark-brown-bg solid;
        &:hover {
            background: $dark-brown-bg;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $dark-brown-bg;
            &:hover {
                background: darken($dark-brown-bg,5);
                border-color: darken($dark-brown-bg,5);
            }
        }
    }
    &_red-text {
        color: $pink-text;
    }
    &_telegram {
        color: $telegram;
        border: 2px $telegram solid;
        &:hover {
            background: $telegram;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $telegram;
            &:hover {
                background: darken($telegram,5);
                border-color: darken($telegram,5);
            }
        }
    }
    &_whatsapp {
        color: $whatsapp;
        border: 2px $whatsapp solid;
        &:hover {
            background: $whatsapp;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $whatsapp;
            &:hover {
                background: darken($whatsapp,5);
                border-color: darken($whatsapp,5);
            }
        }
    }
    /* ---------------------------------- sizes --------------------------------- */
    &_medium {
        height: 40px;
        min-width: 40px;
        border-radius: 12px;
        font-size: 15px;
        border-width: 1px;
        padding: 0 20px;
    }
    &_small {
        height: 35px;
        min-width: 35px;
        border-radius: 14px;
        font-size: 15px;
        border-width: 1px;
    }
    &_mini {
        height: 30px;
        min-width: 30px;
        padding: 0 10px;
        border-radius: 8px;
        font-size: 13px;
        &#{$root}_loading {
            &:before {
                width: 15px;
                height: 15px;
                margin: -7.5px 0 0 -7.5px;
            }
        }
    }

    /* ---------------------------------- icons --------------------------------- */

    &_icon {
        padding: 0;
        &#{$root}_medium .mdi {
            font-size: 22px;
        }
    }
    &_icon-left {
        .mdi:first-child,
        [class^="iconly"] {
            margin-right: 10px;
        }
    }
    &_icon-right {
        .mdi:last-child,
        [class^="iconly"] {
            margin-left: 10px;
        }
    }
    &_round {
        border-radius: 40px;
    } 
    &_loading {
        color: transparent !important;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            display: block;
            width: 20px;
            height: 20px;
            margin: -10px 0 0 -10px;
            border-radius: 50%;
            border-top: 2px transparent solid;
            border-right: 2px transparent solid;
            border-bottom: 2px #fff solid;
            border-left: 2px #fff solid;
            animation: 0.5s Spin infinite linear;
        }
        &#{$root}_clear:before {
            border-bottom-color: $blue-bg;
            border-left-color: $blue-bg;
        }
    }
    &:disabled,
    &.disabled {
        background: $grey-line;
        border-color: $grey-line;
        color: #fff;
        pointer-events: none;
    }
    &.no-action {
        pointer-events: none;
    }
    &:active {
        transform: scale(0.95);
    }
}
.c-field {
    $root: &;
    position: relative;
    margin-top: 30px;
    // &:first-child {
    //     margin-top: 0px;
    // }
    &:after,&:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 2px;
    }
    &:after {
        width: 100%;
        background: $grey-line;
    }
    &:before {
        width: 0;
        background: $blue-bg;
        z-index: 1;
        transition: all 0.3s;
    }
    &_code-drop {
        #{$root}__label {
            left: 55px;
        }
    }
    &.active {
        #{$root}__label {
            top: -10px;
            left: 0px;
            color: $blue-text;
            font-size: 12px;
            font-weight: 500;
        }
        &:before {
            width: 100%;
        }
    }
    &__input {
        width: 100%;
        height: 60px;
        border: none;
        border-radius: 0px;
        font-size: 16px;
        outline: none;
        background: none;
    }
    textarea.c-field__input {
        resize: vertical;
        min-height: 90px;
        padding-top: 20px;
    }
    &__label {
        color: $grey-text;
        pointer-events: none;
        top: 20px;
        line-height: 20px;
        left: 0px;
        position: absolute;
        font-size: 16px;
        transition: all 0.3s;
    }
    &__note {
        position: absolute;
        bottom: -18px;
        right: 0px;
        font-size: 12px;
        font-weight: 500;
        &_red {
            color: $red-text;
        }
        &_green {
            color: $green-text;
        }
    }
    & + .c-button {
        margin-top: 80px;
    }
}

.toggle-field {
    $root: &;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto 100px 100px;
    gap: 0 30px;
    align-items: center;
    position: relative;
    &_auto {
        grid-template-columns: auto auto auto;
    }
    &_3x {
        grid-template-columns: 200px 1fr 1fr 1fr;
    }
    &_2x {
        grid-template-columns: 200px 1fr 1fr;
    }
    &__input {
        display: none;
        &:checked + #{$root}__label {
            background: $blue-bg;
            border-color: $blue-bg;
            color: #fff;
        }
    }
    &__label {
        padding: 10px 0;
        border: 1px $grey-line solid;
        border-radius: 12px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
        background: white;
        &:hover {
            background: $grey-line;
        }
    }
    &__note {
        position: absolute;
        bottom: -10px;
        left: 0px;
        font-size: 12px;
        font-weight: 500;
        &_red {
            color: $red-text;
        }
        &_green {
            color: $green-text;
        }
    }
}

.badge {
    display: inline-block;
    vertical-align: middle;
    background: $pink-text;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    padding: 0 7px;
    line-height: 17px;
    margin-left: 5px;
}

.c-chekbox {
    display: block;
    margin-bottom: 18px;
    line-height: 20px;
    padding-left: 35px;
    position: relative;
    cursor: pointer;
    &:hover {
        color: $blue-text;
    }
    &:has(input:checked) {
        color: $brown-bg;
    }
    input {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20px;
        appearance: none;
        border: 1px $grey-btn solid;
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            display: block;
            top: 4px;
            left: 4px;
            width: 10px;
            height: 10px;
            background: $brown-bg;
            opacity: 0;
        }
        &:checked {
            border: 1px $brown-bg solid;
            &:before {
                opacity: 1;
            }
        }
    }
    &:last-child {
        margin: 0px;
    }
}

.c-radio {
    display: block;
    margin-bottom: 15px;
    line-height: 20px;
    padding-left: 35px;
    position: relative;
    cursor: pointer;
    &:hover {
        color: $blue-text;
    }
    input {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 20px;
        height: 20px;
    }
    &:last-child {
        margin: 0px;
    }
}

.c-dropdown {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    &_full {
        display: block;
        width: 100%;
    }
    &__list {
        display: none;
        top: calc(100% + 10px);
        white-space: normal;
        position: absolute;
        left: 0px;
        min-width: 100%;
        border: 1px $grey-line solid;
        border-radius: 12px;
        background: #fff;
        padding: 15px 15px 15px 15px;
        z-index: 2;
        &_right {
            left: auto;
            width: 300px;
        }
        &_left {
            right: auto;
            width: 300px;
        }
        &_position-top {
            top: auto;
            bottom: calc(100% + 10px);
        }
        .c-button {
            display: flex;
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    &__scroll {
        max-height: 300px;
        padding-right: 10px;
        overflow: auto;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($blue-bg,1);
            border: 2px solid #fff;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        line-height: 20px;
        color: #000;
        padding: 10px 10px;
        text-decoration: none;
        font-weight: 500;
        border-radius: 8px;
        transition: all 0.3s;
        .flag-icon {
            flex: 0 0 auto;
            margin: 0 10px 0 0;
        }
        &:hover {
            background: rgba($grey-text, 0.05);
        }
        &.disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
    &__list-name {
        color: $grey-text;
        font-size: 12px;
        font-weight: 500;
        margin: 10px 0;
        &:first-child {
            margin-top: 0;
        }
    }
}

.c-select {
    position: relative;
    margin-top: 30px;
    .select2-container--default {
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            width: 0;
            background: $blue-bg;
            height: 2px;
            transition: all 0.3s;
        }
        &.select2-container--disabled {
            opacity: 0.4;
            & ~ .c-select__label {
                opacity: 0.4;
            }
            .select2-selection--single {
                background: none;
            }
        }
        &.select2-container--open,
        &.select2-container--below {
            &:after {
                width: 100%;
            }
        } 
        &.select2-container--open{
            .select2-selection__arrow {
                transform: rotateX(180deg);
            }
        } 
        .select2-selection--single {
            height: 60px;
            border: none;
            border-bottom: 2px #DFDFDF solid;
            border-radius: 0px;
            background: none;
            .select2-selection__rendered {
                font-size: 16px;
                font-weight: 500;
                padding: 0 30px 0 0;
                color: #000;
                line-height: 60px;
            }
        }
        .select2-results__option--highlighted[aria-selected]{
            background: rgba($grey-text, 0.05);
            color: white;

        }
        .select2-results__option[aria-selected=true] {
            background: rgba($grey-text, 0.05);
            color: white;
        }

        .select2-selection__arrow {
            display: inline-block;
            font: normal normal normal 24px/1 "Material Design Icons";
            font-size: 28px;
            text-rendering: auto;
            line-height: inherit;
            color: $blue-text;
            -webkit-font-smoothing: antialiased;
            height: 60px;
            width: auto;
            line-height: 58px;
            text-align: center;
            transition: all 0.3s;
            &:before {
                content: "\F0140";
            }
            b {
                display: none;
            }
        }
    }
    &__label {
        color: $blue-text;
        pointer-events: none;
        font-weight: 500;
        top: -10px;
        line-height: 20px;
        left: 0px;
        position: absolute;
        font-size: 12px;
        transition: all 0.3s;
    }
}

.c-accordion {
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px rgba($grey-line, 0.5) solid;
        border-radius: 12px;
        padding: 10px 15px;
        margin: 15px 0;
        cursor: pointer;
        &:hover,
        &_active {
            border-color: $blue-bg;
            background: $blue-bg;
            color: #fff;
        }
        &_active {
            i.mdi {
                transform: rotateX(180deg);
            }
        }
        i.mdi {
            font-size: 24px;
        }
        &:first-child {
            margin-top: 0px;
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &__list {
        display: none;
    }
    &__link {
        display: block;
        padding: 10px 0 10px 15px;
        text-decoration: none;
        color: inherit;
        &:hover {
            background: rgba($grey-text, 0.05);
            border-radius: 5px;
        }
    }
}

.c-range {
    margin-left: 10px;
    margin-right: 10px;
    &.noUi-target {
        background: none;
        border-radius: 0;
        border: none;
        box-shadow: none;
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            top: 50%;
            background: $grey-line;
        }
    }
    .noUi-connect {
        background: none;
        position: relative;
    }
    .noUi-value {
        display: none;
    }
    .noUi-marker-horizontal.noUi-marker {
        height: 11px;
        width: 1px;
        top: -14px;
    }
    &.noUi-horizontal .noUi-handle {
        cursor: pointer;
        border-radius: 0;
        width: 20px;
        height: 20px;
        right: -10px;
        top: -1px;
        background: $brown-bg;
        border: none;
        box-shadow: none;
        &:before,
        &:after {
            display: none;
        }
    }
    &.noUi-horizontal .noUi-tooltip {
        border: none;
        padding: 0;
        font-size: 12px;
        bottom: -120%;
        font-weight: 500;
    }
    
}

.select2-container--default {
    .select2-results__options {
        padding-right: 5px;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($blue-bg,1);
            border: 1px solid #fff;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
    .select2-results__option {
        border-radius: 8px;
        padding: 13px 24px;
    }
    .select2-results__option--highlighted[aria-selected]{
        background: rgba($grey-text, 0.05);
        color: black;

    }
    .select2-results__option[aria-selected=true] {
        background: rgba($grey-text, 0.05);
        color: black;
    }
}

.select2-dropdown {
    border: 1px $grey-line solid !important;
    border-radius: 12px !important;
    background: #fff;
    padding: 5px 5px 5px 5px;
    margin: 15px 0;
}

.tabs-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__item {
        $root: &;
        display: inline-flex;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 500;
        height: 54px;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
        transition: all 0.2s;
        &_border {
            color: #000;
            border: 1px $grey-line solid;
            margin-right: 10px;
            &#{$root}_active {
                color: #fff;
                border-color: $blue-bg;
                background: $blue-bg;
            }
        }
        &_active {
            background: rgba($blue-bg, 0.06);
        }
    }
    &_inline {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
}

.tabs-blocks {
    &__item {
        display: none;
        &_active {
            display: block;
            animation: 0.8s fadeInLeft both ease-in-out;
        }
    }
}

.n-tabs {
    $root: &;
    font-size: 0px;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 1;
    &_line {
        position: relative;
        padding: 0 15px;
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: $grey-btn;
        }
        #{$root}__item {
            border-bottom: 1px $grey-btn solid;
            &_active {
                background: #fff;
                border-bottom-color: #fff !important;
            }
        }
    }
    &__item {
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        text-decoration: none;
        font-weight: 500;
        background: #fff;
        color: black;
        padding: 10px 25px;
        text-decoration: none;
        border: 1px $grey-btn solid;
        border-bottom: none;
        border-radius: 12px 12px 0 0;
        z-index: 5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        & + & {
            margin-left: -15px;
        }
        &:nth-child(2) {
            z-index: 4;
        }
        &:nth-child(3) {
            z-index: 3;
        }
        &:nth-child(4) {
            z-index: 2;
        }
        &:nth-child(5) {
            z-index: 1;
        }
        &:hover {
            border-color: $brown-bg;
            color: $brown-bg;
        }
        &_active {
            background: #F2F2F2;
            z-index: 5 !important;
        }
    }
    @include scrollbars(0px, #fff, #fff);
}

.blocker {
    z-index: 999;
    background: rgba(78, 78, 92, 0.41);
    backdrop-filter: blur(3px);
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($blue-bg,1);
        border-radius: 10px;
        &:hover {
            background-color: rgba($blue-bg,1);
        }
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

.modal {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($blue-bg,1);
        border: 2px solid #fff;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

.sign-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    max-width: 100%;
    padding: 0px;
    overflow: auto;
    a.close-modal {
        display: none;
    }
}

.modal-small {
    $root: &;
    max-width: 900px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.13);
    padding: 0;
    border-radius: 0px;
    // &_2x {
    //     max-width: 900px;
    // }
    // &_3x {
    //     max-width: 790px;
    // }
    &_fs {
        overflow: auto;
        border-radius: 0px;
        max-width: none;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    &__title {
        padding: 25px 30px;
        font-family: $america;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 1px $grey-line solid;
    }
    &__subtitle {
        display: block;
        font-family: $america;
        font-size: 20px;
        font-weight: 500;
    }
    &__body {
        padding: 30px;
        p {
            line-height: 1.5;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .c-field:first-child {
            margin-top: 0px;
        }
    }
    &__footer {
        padding: 30px;
        .c-button {
            max-width: 300px;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        gap: 0 15px;
        padding: 30px;
    }
    a.close-modal {
        right: 30px;
        top: 23px;
        font-size: 0;
        color: black;
        text-indent: 0;
        background: none;
        opacity: 0.4;
        transition: all 0.5s;

        &:hover {
            opacity: 1;
            color: $blue-text;
        }
        &:before {
            display: inline-block;
            font: normal normal normal 24px/1 "Material Design Icons";
            content: "\F0156";
            font-size: 32px;
            text-rendering: auto;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        
    }

    &__scroll {
        height: 100%;
        display: flex;
        flex-direction: column;
        #{$root}__title {
            flex: 0 0 auto;
        }
        #{$root}__footer {
            flex: 0 0 auto;
        }
        #{$root}__btns {
            flex: 0 0 auto;
        }
        #{$root}__body {
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }
}

.modal-video {
    padding: 3px;
    max-width: 900px;
    width: 100%;
    &__wrapper {
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;
        border-radius: 8px;
    }
    iframe {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        vertical-align: middle;
    }
}

.modal-right-sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 0 30px;
    border-radius: 0px;
    box-shadow: none;
    max-width: 600px;
    overflow: auto;
    a.close-modal {
        right: 20px;
        top: 20px;
        color: black;
        font-size: 32px;
        text-indent: 0;
        background: none;
        opacity: 0.4;
        transition: all 0.5s;
        &:hover {
            opacity: 1;
            color: $blue-text;
        }
    }
}

.notice-list {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;
    &__item {
        text-align: center;
        padding: 15px 30px;
        font-size: 13px;
        &_red {
            background: $red-bg;
            color: #fff;
        }
        &_green {
            background: $green-text;
            color: #fff;
        }
        &_new {
            animation: fadeInUp 1s ease-in-out;
        }
    }
}

.burger-btn {
    display: inline-block;
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    text-decoration: none;
    padding: 2px 3px;
    span {
        margin: 5px 0;
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        border-radius: 2px;
        position: relative;
        top: 0px;
        transition: all 0.3s;
    }
    &_active {
        span:nth-child(1) {
            transform: rotate(-45deg);
            top: 7px;
        }
        span:nth-child(3) {
            transform: rotate(45deg);
            top: -7px;
        }
        span:nth-child(2) {
            transform: translateX(-150%);
            opacity: 0;
        }
    }
}

.range-slider{
    font-family: $america;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.tooltipster-sidetip {
    .tooltipster-box {
        border-color: $blue-bg;
        background: $blue-bg;
    }
    .tooltipster-arrow {
        display: none !important;
    }
    .tooltipster-content {
        font-size: 12px;
        padding: 3px 8px;
    }
}

#range {
    -webkit-appearance: none; width: 100%;
}
#range:focus {
    outline: none;
}

#range::before, #range::after {
    font-family: $america;
    position: absolute;
    bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    opacity: 0.5;
}
#range::before {
    left: 0; content: attr(min);
}
#range::after {
    right: 0; content: attr(max);
}
#range::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: $brown-bg;
}
#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    background: $brown-bg;
    cursor: pointer;
    height: 32px;
    width: 32px;
    transform: translateY(calc(-50% + 4px));
}
#tooltip {
    position: absolute;
    top: 2.25rem;
}
#tooltip span {
    font-weight: 700;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    display: block;
    font-size: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}





@keyframes Spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
    50% {
		transform: scale(1);
	}
    75% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
        
	}
}

// @keyframes ButtonClick {
//     30% {
//         transform: scale(1.05);
//         opacity:0;
//     }
//     99% {
//         opacity:0;
//     }
//     100% {
//         opacity:1;
//     }
// }