$america: 'GT America Extended', sans-serif;
$inter: 'Inter', sans-serif;
$blue-bg: #1C2473;
$blue-text: #1C2473;

$grey-text: #676767;
$grey-line: #e6e6e6;
$grey-btn: #bfbfbf;

$green-bg: #2DAB0E;
$green-text: #2DAB0E;

$red-text: #E42B2B;
$red-bg: #E42B2B;

$pink-text:#e91e63;
$brown-text:#BD9E5E;
$brown-bg:#BD9E5E;
$dark-brown-text:#382323;
$dark-brown-bg:#382323;
$orange-text: #ff9941;
$yellow-text:#ffeb3b;
$yellow-bg:#ffeb3b;
$violet:#BB13B4;
$dark-grey: #2F3140;
$milk-white: #F1E8DD;
$light-black: #2F3140;
$telegram: #0088CC;
$whatsapp: #2DAB0E;



/* --------------------------------- alerts --------------------------------- */
$alert-green: #2DAB0E;
$alert-salad: #A8C206;
$alert-orange: #FF8300;
$alert-red: #AB0E0E;


