.lot-modal-page_mobile__header {
  // position: sticky;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.lot-modal-page_mobile__header-number {
  width: 47%;
}

.lot-modal-page_mobile__header-navigation {
  width: 47%;
  display: flex;
  justify-content: flex-end;
}

.lot-modal-page_mobile__header-navigation span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s;
}

.lot-modal-page_mobile__header-navigation span:active,
.lot-modal-page_mobile__header-navigation span:active {
  transform: scale(1.15);
}

.lot-modal-page_mobile__header-navigation .before-arrow-mobile {
  margin-right: 15px;
  color: #000;
  border: 1px solid #DBDBDB;
}

.lot-modal-page_mobile__header-navigation .next-arrow-mobile {
  margin-right: 20px;
  color: #000;
  border: 1px solid #DBDBDB;
}

.lot-modal-page_mobile__header-navigation .exit-mobile {
  background-color: #000;
  color: #fff;
}

.photo-mobile-slider {
  width: 100%;
  overflow-x: hidden;
}
.photo-mobile-slider img {
  width: 100%;
  height: auto;
}

.photo-mobile-slider-line {
  width: 1024px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.photo-slider-swipe-photos {
  height: 32px;
  width: 48%;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
  padding: 0 12px;
  margin-top: -55px;
  z-index: 3;
  user-select: none;
}

.slider-prev, .slider-next {
  transition: 0.1s;
}

.slider-prev:active, .slider-next:active {
  transform: scale(1.1);
}

.photo-slider-swipe-photos-text {
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.lot-modal-page_mobile .main-info {
  margin-top: 55px;
  
}

.lot-modal-page_mobile .main-info_product {
  height: 130px;
  padding: 0 21px;
}

.lot-modal-page_mobile .main-info_product-name {
  font-size: 18px;
}

.lot-modal-page_mobile .main-info__estimate-value {
  width: auto;
  padding: 0 21px;
}

.lot-modal-page_mobile .main-info__estimate-value-value {
  font-size: 14px;
}

.lot-modal-page_mobile .main-info__detailed-info-paragraph {
  flex-direction: column;
  font-size: 14px;
  margin-top: 26px;
  margin-bottom: 38px;
  padding: 0 21px;
  padding-right: 103px;
}

.lot-modal-page_mobile .main-info__detailed-info-paragraph-parameter  {
  margin-bottom: 16px;
}

.lot-modal-page_mobile .footer  {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 4;
}

.lot-modal-page_mobile .footer__bids-button {
  margin: 0 auto;
  width: 96%;
  height: 50%;
}

.lot-modal-page_mobile .main-info__bids-amount-text {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}