<div class="profile__section-content profile__section-content-option-invoices">
  <div class="profile__section-content-invoices-switch">
    <div class="profile__section-content-invoices-switch-option invoices-switch-option-open invoices-switch-option_active">Open invoices</div>
    <div class="profile__section-content-invoices-switch-option invoices-switch-option-closed">Closed invoices</div>
  </div>
  <div class="profile__section-content-invoices section-content-open-invoices section-content-visible-invoices">
    <div class="profile__section-content-invoices-invoice">
      <div class="profile__section-content-invoices-invoice-info">
        <div class="profile__section-content-invoices-invoice-info-number">Invoice #135555</div>
        <div class="profile__section-content-invoices-invoice-info-date">08 Aug 2021, 14:00</div>
      </div>
      <div class="profile__section-content-invoices-invoice-total">
        <div class="profile__section-content-invoices-invoice-total-price">41,245 CHF</div>
        <div class="profile__section-content-invoices-invoice-total-text">Invoice total</div>
      </div>
      <div class="profile__section-content-invoices-invoice-button">
        <button class="main-btn bid-btn">Pay 👉</button>
      </div>
    </div>
    <div class="profile__section-content-invoices-invoice">
      <div class="profile__section-content-invoices-invoice-info">
        <div class="profile__section-content-invoices-invoice-info-number">Invoice #135555</div>
        <div class="profile__section-content-invoices-invoice-info-date">08 Aug 2021, 14:00</div>
      </div>
      <div class="profile__section-content-invoices-invoice-total">
        <div class="profile__section-content-invoices-invoice-total-price">8,200 CHF</div>
        <div class="profile__section-content-invoices-invoice-total-text">Invoice total</div>
      </div>
      <div class="profile__section-content-invoices-invoice-button">
        <button class="main-btn bid-btn">Pay 👉</button>
      </div>
    </div>
  </div>
  <div class="profile__section-content-invoices section-content-closed-invoices">
    <div class="profile__section-content-invoices-invoice">
      <div class="profile__section-content-invoices-invoice-info">
        <div class="profile__section-content-invoices-invoice-info-number">Invoice #135555</div>
        <div class="profile__section-content-invoices-invoice-info-date">08 Aug 2021, 14:00</div>
      </div>
      <div class="profile__section-content-invoices-invoice-total">
        <div class="profile__section-content-invoices-invoice-total-price">41,245 CHF</div>
        <div class="profile__section-content-invoices-invoice-total-text">Invoice total</div>
      </div>
      <div class="profile__section-content-invoices-invoice-button">
        <button class="main-btn bid-btn">Closed</button>
      </div>
    </div>
    <div class="profile__section-content-invoices-invoice">
      <div class="profile__section-content-invoices-invoice-info">
        <div class="profile__section-content-invoices-invoice-info-number">Invoice #135555</div>
        <div class="profile__section-content-invoices-invoice-info-date">08 Aug 2021, 14:00</div>
      </div>
      <div class="profile__section-content-invoices-invoice-total">
        <div class="profile__section-content-invoices-invoice-total-price">8,200 CHF</div>
        <div class="profile__section-content-invoices-invoice-total-text">Invoice total</div>
      </div>
      <div class="profile__section-content-invoices-invoice-button">
        <button class="main-btn bid-btn">Closed</button>
      </div>
    </div>
  </div>
</div>