<div class="profile__section-content profile__section-content-option-bids">
  <div class="profile__section-content-bid-log">
  <div class="profile__section-content-bid-log-lot">
    <span class="profile__section-content-bid-log-lot-name">Poitevin Enamel Verge Pocket Watch</span>
    <span class="profile__section-content-bid-log-lot-number">Lot 001</span>
  </div>
  <div class="profile__section-content-bid-log-auction">Timepieces Auction No. 174</div>
  <div class="profile__section-content-bid-log-date">08 Aug 2021, 14:00</div>
  <div class="profile__section-content-bid-log-price bid-log-price-win">
    <span class="profile__section-content-bid-log-price-amount">2,000 CHF</span>
    <span class="profile__section-content-bid-log-price-status">Win</span>
  </div>
</div>
<div class="profile__section-content-bid-log">
  <div class="profile__section-content-bid-log-lot">
    <span class="profile__section-content-bid-log-lot-name">Poitevin Enamel Verge Pocket Watch</span>
    <span class="profile__section-content-bid-log-lot-number">Lot 001</span>
  </div>
  <div class="profile__section-content-bid-log-auction">Timepieces Auction No. 174</div>
  <div class="profile__section-content-bid-log-date">08 Aug 2021, 14:00</div>
  <div class="profile__section-content-bid-log-price bid-log-price-bid">
    <span class="profile__section-content-bid-log-price-amount">2,000 CHF</span>
    <span class="profile__section-content-bid-log-price-status">Win</span>
  </div>
</div>
<div class="profile__section-content-bid-log">
  <div class="profile__section-content-bid-log-lot">
    <span class="profile__section-content-bid-log-lot-name">Poitevin Enamel Verge Pocket Watch</span>
    <span class="profile__section-content-bid-log-lot-number">Lot 001</span>
  </div>
  <div class="profile__section-content-bid-log-auction">Timepieces Auction No. 174</div>
  <div class="profile__section-content-bid-log-date">08 Aug 2021, 14:00</div>
  <div class="profile__section-content-bid-log-price bid-log-price-loss">
    <span class="profile__section-content-bid-log-price-amount">2,000 CHF</span>
    <span class="profile__section-content-bid-log-price-status">Win</span>
  </div>
</div>
<div class="profile__section-content-bid-log">
  <div class="profile__section-content-bid-log-lot">
    <span class="profile__section-content-bid-log-lot-name">Poitevin Enamel Verge Pocket Watch</span>
    <span class="profile__section-content-bid-log-lot-number">Lot 001</span>
  </div>
  <div class="profile__section-content-bid-log-auction">Timepieces Auction No. 174</div>
  <div class="profile__section-content-bid-log-date">08 Aug 2021, 14:00</div>
  <div class="profile__section-content-bid-log-price bid-log-price-win">
    <span class="profile__section-content-bid-log-price-amount">2,000 CHF</span>
    <span class="profile__section-content-bid-log-price-status">Win</span>
  </div>
</div>
<div class="profile__section-content-bid-log">
  <div class="profile__section-content-bid-log-lot">
    <span class="profile__section-content-bid-log-lot-name">Poitevin Enamel Verge Pocket Watch</span>
    <span class="profile__section-content-bid-log-lot-number">Lot 001</span>
  </div>
  <div class="profile__section-content-bid-log-auction">Timepieces Auction No. 174</div>
  <div class="profile__section-content-bid-log-date">08 Aug 2021, 14:00</div>
  <div class="profile__section-content-bid-log-price bid-log-price-bid">
    <span class="profile__section-content-bid-log-price-amount">2,000 CHF</span>
    <span class="profile__section-content-bid-log-price-status">Win</span>
  </div>
</div>
<div class="profile__section-content-bid-log">
  <div class="profile__section-content-bid-log-lot">
    <span class="profile__section-content-bid-log-lot-name">Poitevin Enamel Verge Pocket Watch</span>
    <span class="profile__section-content-bid-log-lot-number">Lot 001</span>
  </div>
  <div class="profile__section-content-bid-log-auction">Timepieces Auction No. 174</div>
  <div class="profile__section-content-bid-log-date">08 Aug 2021, 14:00</div>
  <div class="profile__section-content-bid-log-price bid-log-price-loss">
    <span class="profile__section-content-bid-log-price-amount">2,000 CHF</span>
    <span class="profile__section-content-bid-log-price-status">Win</span>
  </div>
</div>
</div>