<div class="profile__section-content profile__section-content-cards">
  <div class="desktop_payment">
  <div class="profile__section-content-info-row profile__section-heading">Saved Cards</div>
  <div class="profile__section-content-current-card">
    <div class="profile__section-content-current-card-ico">
      <img src="./assets/icons/visa.svg">
    </div>
    <div class="profile__section-content-current-card-number">
      <span>****</span>
      <span>****</span>
      <span>****</span>
      <span>4114</span>
    </div>
    <div class="profile__section-content-current-card-expired-date">12 / 24</div>
    <div class="profile__section-content-current-card-arrow">
      <span class="material-icons-outlined">
        arrow_forward
        </span>
    </div>
  </div>
  <div class="profile__section-content-current-card">
    <div class="profile__section-content-current-card-ico">
      <img src="./assets/icons/visa.svg">
    </div>
    <div class="profile__section-content-current-card-number">
      <span>****</span>
      <span>****</span>
      <span>****</span>
      <span>4114</span>
    </div>
    <div class="profile__section-content-current-card-expired-date">12 / 24</div>
    <div class="profile__section-content-current-card-arrow">
      <span class="material-icons-outlined">
        arrow_forward
        </span>
    </div>
  </div>
  <div class="profile__section-content-add-card">
    <span class="material-icons-outlined">
      add
      </span>
      <span>add card</span>
  </div>
</div>
  @@include('./payment_mobile.html')
</div>