<div class="profile__section-content profile__section-content-option-profile-info profile__section-content_chosen">
  <div class="profile_desktop">
  <div class="profile__section-content-info">
    <div class="profile__section-content-info-row profile__section-heading">General</div>
    <div class="profile__section-content-info-row">
      <div class="profile__section-content-info-row-heading">Full name</div>
      <div class="profile__section-content-info-row-info">Mr Bogdan Zolotov</div>
      <div class="profile__section-content-info-row-link"></div>
    </div>
    <div class="profile__section-content-info-row">
      <div class="profile__section-content-info-row-heading">Email address</div>
      <div class="profile__section-content-info-row-info">grime9space@gmail.com</div>
      <button class="profile__section-content-info-row-link red-link">
        <span>Re-send verify email</span>
        <span><svg class="feather"><use xlink:href="assets/icons/feather-sprite.svg#arrow-right"/></svg></span>
      </button>
    </div>
    <div class="profile__section-content-info-row">
      <div class="profile__section-content-info-row-heading">Password</div>
      <div class="profile__section-content-info-row-info">*********</div>
      <button class="profile__section-content-info-row-link blue-link change-password-button">
        <span>Change</span>
        <span><svg class="feather"><use xlink:href="assets/icons/feather-sprite.svg#arrow-right"/></svg></span>
      </button>
    </div>
    <div class="profile__section-content-info-row info-about-account">Your account currently 
      enables you to get updates, save lots, access sale details 
      and more.To participate in auctions, please take a moment to verify your account.</div>
    <div class="profile__section-content-info-row ">
      <a href="profile_information.html" class="main-btn verify-account-btn">Verify account</a>
    </div>
  </div>
  <div class="profile__section-content-info-log-services">
    <div class="profile__section-content-info-row profile__section-heading">Login services</div>
    <div class="profile__section-content-info-row">
      <div class="profile__section-content-info-row-ico">
        <img src="./assets/icons/google.svg">
      </div>
      <div class="profile__section-content-info-row-heading">Google</div>
      <div class="profile__section-content-info-row-info row-info-connected">connected</div>
      <button class="profile__section-content-info-row-link red-link">
        <span>Disconnect</span>
        <span class="material-icons-outlined">
          arrow_forward
          </span>
      </button>
    </div>
  </div>
</div>
<div class="profile_mobile">
  <div class="profile__section-content-info">
    <div class="profile__section-content-info-row profile__section-heading profile__section-heading_mobile">General</div>
    <div class="profile__section-content-info-row">
      <div class="profile__section-content-info-row-heading">Full name</div>
      <div class="profile__section-content-info-row-info">Mr Bogdan Zolotov</div>
    </div>
    <div class="profile__section-content-info-row">
      <div class="profile__section-content-info-row-heading">Email address</div>
      <div class="profile__section-content-info-row-info-block">
      <div class="profile__section-content-info-row-info">grime9space@gmail.com</div>
      <button class="profile__section-content-info-row-link red-link">
        <span>Re-send verify email</span>
      </button>
    </div>
  </div>
    <div class="profile__section-content-info-row">
      <div class="profile__section-content-info-row-heading">Password</div>
      <div class="profile__section-content-info-row-info-block">
      <div class="profile__section-content-info-row-info">*********</div>
      <button class="profile__section-content-info-row-link blue-link change-password-button">
        <span>Change</span>
      </button>
      </div>
    </div>
    <div class="profile__section-content-info-row info-about-account">Your account currently 
      enables you to get updates, save lots, access sale details 
      and more. To participate in auctions, please take a moment to verify your account.</div>
    <div class="profile__section-content-info-row profile__section-content-info-row-button-verify">
      <button class="main-btn verify-account-btn">Verify account</button>
    </div>
  </div> 
   <div class="profile__section-content-info-log-services">
    <div class="profile__section-content-info-row profile__section-heading">Login services</div>
    <div class="profile__section-content-info-row mobile-login-info-wrapper">
      <div class="profile__section-content-info-row mobile-login-info">
      <div class="profile__section-content-info-row-ico">
        <img src="./assets/icons/google.svg">
      </div>
      <div class="profile__section-content-info-row-heading">Google</div>
      <div class="profile__section-content-info-row-info row-info-connected">connected</div>
    </div>
      
    </div>
  </div>
</div>
</div>