.lots-grid {
    display: grid;
    max-width: 100%;
    margin: 54px auto;
    grid-template-columns: repeat(3,1fr);
    // grid-template-rows: repeat(5, [row] 12);
    grid-column-gap: 1em;
    grid-row-gap: 2.5em;
    
  }

  @media (max-width: 1240px) { 
    .lots-grid {
        grid-template-columns: repeat(2,1fr);
      }
 }

 @media (max-width: 860px) { 
    .lots-grid {
        grid-template-columns: repeat(1,1fr);
      }
 }

//  @media (max-width: 700px) { 
//     .lots-grid {
//         grid-template-columns: repeat(1,1fr);
//       }
//  }