.form__container {
  cursor: pointer;
max-width: 100%;
max-height: 90vh;
margin: 0 auto;
overflow: hidden;
position: relative;
border-radius: 22px;
}

.form__info {
position: absolute;
vertical-align: middle;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: none;
font-family: "Inter", sans-serif;
transition: 0.5s;
}

.form__background-image {
width: 100%;
height: 100%;
transition: 0.5s;
}

.form__info-company-name {
position: absolute;
width: 40px;
height: 18px;
left: 24px;
top: 23px;
font-size: 15px;
text-align: center;
color: #ffffff;
display: none;
}


.form__info-description-container {
  

// height: 48px;
// left: 107px;
// top: 280px;
height: 46px;
overflow: hidden;
font-size: 20px;
line-height: 23px;
text-align: center;
text-transform: capitalize;
font-family: "GT", sans-serif;
font-weight: 400;
display: flex;
color: #ffffff;

transition: 0.5s;
}

.form__info-description {
transition: 0.5s;
margin-top: 50px;
width: 100%;
height: 100%;
}

.form__info-button {
  margin: 20px auto;
width: 56px;
height: 56px;
background: #ffffff;

border: none;
outline: none;
border-radius: 50%;

display: none;
align-items: center;
justify-content: center;
cursor: pointer;
}

.form__info-number {
font-family: 'Inter', sans-serif;
width: 50px;
height: 50px;
color: #fff;
font-size: 13px;
background-color: #000;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
position: absolute;

bottom: 14px;
left: 24px;
}

.form__info-price {
  font-family: 'Inter', sans-serif;
position: absolute;
width: 176px;
height: 30px;
right: 24px;
bottom: 14px;
color: #fff;
font-size: 13px;
font-weight: 500;
background-color: #000;
border-radius: 100px;
display: flex;
align-items: center;
justify-content: center;
}

.form_active #product-image img {
transform: scale(1.2) rotate(3deg);
}

.form_active .form__info {
background-color: rgba(0, 0, 0, 0.5);
}

.form_active .form__info-company-name {
display: flex;
}

.form_active .form__info-description-container {
display: flex;
}

.form_active .form__info-button {
  display: flex;
}

.form_active .form__info-number {
  background-color: #fff;
  color: #000;
}

.form_active .form__info-price {
  background-color: #fff;
  color: #000;
}

.form_active .form__info-description {
margin-top: 0;
}

//-------------v2----------------

.v2 .form__wrapper {
  cursor: pointer;
max-width: 100%;
max-height: 100%;
margin: 0 auto;
overflow: hidden;
position: relative;
}

.v2 .form__container {
width: auto;
height: 95%;
}

// .v2 .form__info {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   background: none;
//   font-family: "Inter", sans-serif;
//   transition: 0.3s;
// }

#product-image {
  height: 100%;
  max-width: 100%;
  // position: relative;
  background-color: #F4F4F4;
  
}

#product-image img {
display: block;
margin: auto;
object-fit: cover;
height: 100%;
width: 100%;
transition: 0.4s;
}

.v2 .form__info-company-name {
// position: absolute;
display: flex;
width: 10%;
left: 45%;
top: 26px;
font-size: 15px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
text-align: center;
color: #ffffff;
opacity: 0;
transition: 0.5s;
}

.middle-form {
height: 100%;
max-width: 40%;
display: flex;
flex-direction: column;
justify-content: center;
margin: 2% auto;
}

.v2 .form__info-description-container {
  

// height: 48px;
// left: 107px;
// top: 280px;
// height: 46px;
// overflow: hidden;
// font-size: 24px;
// line-height: 23px;
// text-align: center;
// text-transform: capitalize;
// font-family: "Inter", sans-serif;
// font-weight: 400;
// display: flex;
// color: #ffffff;

transition: 0.5s;
}

.v2 .form__info-description {
transition: 0.5s;
margin-top: 50px;
width: 100%;
height: 100%;
}

.v2 .form__info-button {
margin: 20px auto;
width: 56px;
height: 56px;
background: #ffffff;

border: none;
outline: none;
border-radius: 50%;

display: flex;
opacity: 0;
align-items: center;
justify-content: center;
cursor: pointer;
transition: 0.2s;
}

.v2 .form__info-number {
font-family: 'Inter', sans-serif;
width: 40px;
height: 40px;
color: #fff;
font-size: 13px;
background-color: #000;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
opacity: 1;
bottom: 24px;
left: 24px;
transition: 0.5s;
}

// font-family: 'GT', sans-serif;
//     font-size: 13px;
//     font-weight: 400;
//     margin-bottom: 12px;
//     color: #8a8a8a;

// .v2 .form__info-price {
//   font-family: 'GT', sans-serif;
//   position: absolute;
//   width: 176px;
//   height: 30px;
//   right: 24px;
//   bottom: 14px;
//   color: #fff;
//   font-size: 13px;
//   font-weight: 500;
//   background-color: #000;
//   border-radius: 100px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.v2 .form__info-add-to-favorites {
position: absolute;
bottom: 29px;
left: 26%;
width: 48%;
height: 44px;
background: #000000;
border-radius: 14px;
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 15px;
text-align: center;
color: #ffffff;
transition: 0.3s;
}

.v2 .form__info-add-to-favorites-logo{
margin-right: 8px;
}
.v2 .form__prices {
display: flex;
width: 95%;
height: 5vh;
margin: 0 auto;
align-items: center;
justify-content: space-between;
font-family: 'Inter', sans-serif;
font-size: 14px;
font-weight: 400;
color: #868686;
}

.v2 .form__price {
color: #000;
}

.v2 .product-image .product-image img {
transform: scale(1.2) rotate(3deg);
}

.v2 .form_active .form__info {
background-color: rgba(17, 17, 17, 0.80);
}

.v2 .form_active .form__info-company-name {
opacity: 1;
}

.v2 .form_active .form__info-description-container {
display: flex;
}

.v2 .form_active .form__info-button {
  opacity: 1;
}

.v2 .form_active .form__info-number {
opacity: 0;
}

.v2 .form_active .form__info-price {
  background-color: #fff;
  color: #000;
}

.v2 .form_active .form__info-description {
margin-top: 0;
}

.v2 .form_active .form__info-add-to-favorites {
opacity: 1;
}

.form__info-add-to-favorites:hover {
background: #BD9E5E;
// border-radius: 100px;
transform: scale(0.95);
// color: #000000;
}