.scale-btn:hover {
  transform: rotate(360deg) scale(1.1);
  
}

.scale-btn:active {
  transform: translate(15px);
  background-color: rgb(190, 190, 190);
}

.black-btn:hover {
    background-color: rgb(32, 32, 32);
}

.scale-effect:hover {
    transform:scale(0.98);
}

.scale-effect {
  transition: 0.5s;
}

.scale-effect:active {
  transition: 0.1s;
  transform:scale(0.95);
}

