<header>
    <div class="header-content">
        <div class="left-header">
            <div id="responsive-header">
                <svg class="feather icon-item">
                    <use xlink:href="assets/icons/feather-sprite.svg#menu" />
                </svg>
            </div>
            <div id="nav-items">
                <a href="index.html" class="nav-item">Auctions</a>
                <a href="#" class="nav-item">Services</a>
                <a href="#" class="nav-item">Contacts</a>
            </div>
        </div>
        <img class="logo" src="assets/logo.svg" alt="">
            
        <div class="right-header">
            <div class="header-icons">
                <div class="icon-container">
                    <svg class="feather icon-item">
                        <use xlink:href="assets/icons/feather-sprite.svg#search" />
                    </svg>
                </div>
                <div class="icon-container">
                    <svg class="feather icon-item">
                        <use xlink:href="assets/icons/feather-sprite.svg#heart" />
                    </svg>
                </div>
                <div class="dropdown">
                        <button class="uix-drop margin-left" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            uixgod@gmail.com
                            <svg class="feather little-icon2">
                                <use xlink:href="assets/icons/feather-sprite.svg#chevron-down" />
                            </svg>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                            <li><a class="dropdown-item" href="#">My Bids</a></li>
                            <li><a class="dropdown-item" href="#">Payment</a></li>
                            <li><a class="dropdown-item" href="#">Invoices</a></li>
                            <li><a class="dropdown-item" href="signin.html"><span class="grey-log">Logout</span></a></li>
                          </ul>
                </div>
            </div>
        </div>
</header>
