<div class="profile-popup add-card-popup-wrapper">
  <div class="profile-popup-content add-card-popup">
    <div class="profile-popup-exit add-card-popup-exit">
      <span class="material-icons-outlined">
        close
        </span>
    </div>
    <div class="profile-popup-body">
    <div class="profile-popup-heading">Add card</div>
    <div class="card-popup-number">
        <div class="input-card-umber">
          <input type="text" placeholder="Card number" class="card-popup-number-number"></input>
        </div>
        <div class="input-card-expired-date">
        <input type="text" placeholder="MM/YY" class="card-popup-number-expired-date"></input>
        </div>
        <div class="input-card-cvc">
        <input type="text" placeholder="CVC" class="card-popup-number-cvc"></input>
        </div>
      
    </div>
    <button class="main-btn bid-btn card-popup-button">Add</button>
  </div>
  </div>
</div>