<div class="profile-popup change-password-popup-wrapper">
  <div class="profile-popup-content change-password-popup">
    <div class="profile-popup-exit change-password-popup-exit">
      <span class="material-icons-outlined">
        close
        </span>
    </div>
    <div class="profile-popup-body">
    <div class="profile-popup-heading">Change password</div>
    <div class="input-field col s12">
      <input type="password" id="current_password" type="email" class="validate">
      <label for="current_password">Current password</label>
    </div>
    <div class="input-field col s12">
      <input id="new_password" type="email" class="validate">
      <label for="new_password">New password</label>
    </div>
    <div class="input-field col s12">
      <input id="repeat_new_password" type="email" class="validate">
      <label for="repeat_new_password">Repeat new password</label>
    </div>
    <button class="main-btn bid-btn change-password-popup-button">Change password</button>
  </div>
  </div>
</div>