<div class="profile-popup invoice-popup-wrapper">
  <div class="profile-popup-content invoice-popup">
    <div class="profile-popup-exit invoice-popup-exit">
      <span class="material-icons-outlined">
        close
        </span>
    </div>
    <div class="profile-popup-body">
    <div class="profile-popup-heading">
      <div class="profile-popup-heading-number">Invoice #135555</div>
      <div class="profile-popup-heading-date">08 Aug 2021, 14:00</div>
    </div>
    <div class="horizontal-line"></div>
    <div class="invoice-popup-inner-block">
      <div class="invoice-popup-inner-block__lot">
        <div class="invoice-popup-inner-block__lot-img">
          <img src="../../../assets/media/lot.png" alt="">
        </div>
        <div class="invoice-popup-inner-block__lot-info">
          <span class="invoice-popup-inner-block__lot-info-title">Audemars Piguet Royal Oak Wall Clock</span>
          <span class="invoice-popup-inner-block__lot-info-price">CHF 2,000</span>
        </div>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="invoice-popup-inner-block">
      <div class="invoice-popup-inner-block__lot">
        <div class="invoice-popup-inner-block__lot-img">
          <img src="../../../assets/media/lot.png" alt="">
        </div>
        <div class="invoice-popup-inner-block__lot-info">
          <span class="invoice-popup-inner-block__lot-info-title">Audemars Piguet Royal Oak Wall Clock</span>
          <span class="invoice-popup-inner-block__lot-info-price">CHF 2,000</span>
        </div>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="invoice-popup-inner-block">
      <div class="invoice-popup-inner-block__lot">
        <div class="invoice-popup-inner-block__lot-img">
          <img src="../../../assets/media/lot.png" alt="">
        </div>
        <div class="invoice-popup-inner-block__lot-info">
          <span class="invoice-popup-inner-block__lot-info-title">Audemars Piguet Royal Oak Wall Clock</span>
          <span class="invoice-popup-inner-block__lot-info-price">CHF 2,000</span>
        </div>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="invoice-popup-inner-block total-price-block">
      <span>Total</span>
      <span class="total-price">CHF 6,000</span>
    </div>
    <button class="main-btn bid-btn invoice-popup-button">Pay CHF 6,000</button>
  </div>
  </div>
</div>