<div class="profile-popup card-popup-wrapper">
  <div class="profile-popup-content card-popup">
    <div class="profile-popup-exit card-popup-exit">
      <span class="material-icons-outlined">
        close
        </span>
    </div>
    <div class="profile-popup-body">
    <div class="profile-popup-heading">My card</div>
    <div class="card-popup-number">
      <div class="input-card-umber">
        <input type="text" placeholder="Card number" class="card-popup-number-number"></input>
      </div>
      <div class="input-card-expired-date">
      <input type="text" placeholder="MM/YY" class="card-popup-number-expired-date"></input>
      </div>
      <div class="input-card-cvc">
      <input type="text" placeholder="CVC" class="card-popup-number-cvc"></input>
      </div>
      
    </div>
    <button class="main-btn bid-btn card-popup-button">Save</button>
    <button class="profile-popup-footer delete-card-button">Delete card</button>
  </div>
  </div>
</div>