.dropdown__button {
    width: 320px;/*или fit-content*/
    // max-width: 100%;
    height: 100%;
    padding: 18px 30px;
    // margin-bottom: 20px;
    background: none;
    border: 1px solid #dfdfdf;
    border-radius: 14px;
    // padding: 0 24px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dropdown__button-text {
      font-weight: 500;
      font-size: 12px;
  }
  
  .dropdown__button:hover {
      cursor: pointer;
  }
  
  .dropdown__button-arrow {
      transition: 0.5s;
  }
  
  .dropdown__button-arrow_up {
      transform: rotate(180deg);
  }
  
  .dropdown__options {
      font-family: 'GT', sans-serif;
      margin-top: 4px;
    max-width: 100%;
    padding: 12px 8px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    font-weight: 500;
    font-size: 14px;
    opacity: 0;
    transition: 0.5s;
    display: none; /*если нужно моментальное появление - display none, а в dropdown__options_active - display: flex;*/
  }
  
  .dropdown__options_active {
      opacity: 1;
      display: flex;
  }
  
  .dropdown__options:hover {
      cursor: pointer;
  }
  
  .dropdown__option {
    color: #7e7e7e;
    max-width: 100%;
    height: 38px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    user-select: none;
    transition: 0.15s;
  }
  
  .dropdown__option:hover {
    color: #2d2d2d;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  
  
  .dropdown__option-icon-and-text{
      justify-content: flex-start;
  }
  
  .dropdown__option-select {
      margin-right: 40px;
      opacity: 0.2;
      transition: 0.3s;
  }
  
  .dropdown__option-select_selected .dropdown__option-select {
      opacity: 1;
  }
  
  .dropdown__option-icon {
      margin-right: 15px;
  }


  .dropdown-menu {
    font-family: 'Inter', sans-serif;
    font-size: 15px !important;
    
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 360px !important;
    padding: .8rem .8rem !important;
    margin: 0;
    font-size: 1rem;
    color: #000000 !important;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #F1F1F1 !important;
    border-radius: 14px !important;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
  }


  .uix-drop {
    background: none;
    height: 42px;
    padding: 0px 24px;
    border: 1px solid #DFDFDF;
    border-radius: 12px;
    transition: 0.1s;
  }

  .uix-drop:hover {
      color: #fff;
    background: #000000;
    border: 1px solid #000000;
  }

  .margin-left {
      margin-left: 10px;
  }

.dropdown-menu {
    margin-top: 5px !important;
}

  .dropdown-item {
    display: block;
    width: 100%;
    padding: .75rem 1rem !important;
    clear: both;
    font-weight: 400 !important;
    color: #000 !important;
    font-weight: 500 !important;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: 6px;
}

.dropdown-item:hover {
    color: #000000 !important;
    background-color: #f0f0f0 !important;
}

.dropdown-item:active {
    background-color: #d6d6d6 !important;
}

.grey-log {
    color: rgb(151, 151, 151);
}