button {
    cursor: pointer;
    border: none;
}

.main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 14px;
    background-color: $blue;
    color: #fff;
    padding: 18px 20px;
    transition: 0.1s;
}

.main-btn:hover {
    color: #fff;
    background-color: #2F3994;
    
}

.main-btn:active {
    background-color: #4A55BF;
    transform: scale(0.98);
}

.middle-text-btn {
    margin: auto;
}

.secondary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-margin-top {
    margin-top: 14px;
}