<button class="dropdown__button">
    <span class="dropdown__button-text">Mr. Dolgushin</span>
    <span class="material-icons-outlined dropdown__button-arrow">
      expand_more
    </span>
  </button>
  <!--  -->
  <div class="dropdown__options">
    <div class="dropdown__option dropdown__option-text">Profile</div>
    <!-- ^text^ -->
    <div class="dropdown__option dropdown__option-with-select dropdown__option-select-and-text">
      <span class="material-icons dropdown__option-select"> check </span>
      <span class="dropdown__option-text">Profile</span>
    </div>
    <!-- ^select+text^ -->
    <div class="dropdown__option dropdown__option-with-select dropdown__option-select-icon-and-text">
      <span class="material-icons dropdown__option-select"> check </span>
      <span class="material-icons-outlined dropdown__option-icon"></span>person_outline</span>
      <span class="dropdown__option-text">Profile</span>
    </div>
    <!-- ^select+icon+text^ -->
    <div class="dropdown__option dropdown__option-icon-and-text">
      <span class="material-icons-outlined dropdown__option-icon">person_outline</span>
      <span class="dropdown__option-text">Profile</span>
    </div>
    </div>