$blue: #1C2473;
$secondary-text-color: rgb(95, 95, 95);
$primary-text-color: #000;
$sandygold: #bd9e5e;
$grey69: #696969;
$grey94: #949494;
$grey7E: #7e7e7e;
$estimate_value: #1c2473;
$shadow_grey: rgba(28, 36, 115, 0.06);
$red_link: #B54C4C;
$green_in-connection: #529959;
$whiteA9: #A9A9A9;
$whiteE7: #e7e7e7;
$whiteF5: #F5F5F5;
$profile_popup_shadow: rgba(78, 78, 92, 0.21);

